:root{
  --green: rgb(130, 150, 75);
  --brown: rgb(101, 83, 59);
}


body {
  margin: 0;
  font-family: 'Ubuntu';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  /* background-color: rgb(167,83,122,0.4); */
}
.logo{
  width: 50px;
  padding: 15px;
}
.intro{
  display:flex;
  flex-direction: row;
  max-width: 100px;
  max-height: fit-content;
  padding: 6rem;
  padding-left: 8%;
  padding-bottom: 12rem;
}
.intro-words{
  padding-top: 140%;
  padding-left: 140%;
  font-size: larger;
  flex-direction: column;
}
.name{
  font-size: 78px;
  margin: 0;
}
.name-intro{
  font-family: 'WindSong', cursive;
  margin: 0;
  font-size: 28pt;
}
.hello{
  text-transform: lowercase;
  font-size: 35pt;
  margin: 0;
  font-weight: 5%;
  font-family: 'ubuntu';
}
.portrait-container{
  position: relative;
  overflow: hidden;
}
.portrait{
  width: 700px;
  height: 650px;
  object-fit: cover; 
  border-radius: 50%; 
}
.header-links{
  display: flex;
  flex-direction: row;
  float: right;
  padding-inline:40px;
  list-style-type: none;
}
.link-li, a:link, a:visited{
  margin: 10px;
  font-size: 16pt;
  color:grey;
  font-weight: bold;
  letter-spacing: 1pt;
  text-decoration: none;
  text-transform: lowercase;
}
a:hover{
  color:var(--green);
}
.about-container{
  display: flex;
  flex-direction: row;
  padding: 140px;
  padding-block: 14rem;
  color: rgba(0, 0, 0, 0.934);
  background-color: rgb(167,83,122,0.4);
  font-size: 14pt;
  padding-left: 10%;
}
.abt-head-container{
  max-width: 300px;
  padding-left: 250px;
  padding-right: 50px;
}
.about-header{
  text-align: center;
  font-family:'Bodoni Moda', serif;
}
.about-me{
  text-align: left;
  max-width: 550px;
  margin-top: -2%;
}
.span{
  font-size: 32pt;
  font-family: 'WindSong', cursive;
  padding-right: 10px;
}
.skills-container{
  padding-block: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-block: 20px;
}
.skills{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-evenly;
  padding-inline: 435px;
  max-width: 1000px;
  max-height: 800px;
  background-image: url("./components/images/paper.webp");
  background-repeat: no-repeat;
  background-size: 48%;
  background-position-x: 25rem;
  background-position-y: -0.1rem;
  padding-block: 68px;
}
.skills-logo {
  display: flex;
  flex-direction: row;
  margin: 38px;
  max-width: 85px;
  min-width: 85px;
  padding-top: 8px;
  max-height: auto;
  min-height: auto;
}
.skills-title{
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
  font-size: 30pt;
  text-transform: lowercase;
  color: rgba(178, 104, 138, 0.7);
}
.skill-name{
  text-align: center;
  padding-top: 0px;
  margin: 0;
}
.demos{
  display: flex;
  flex-direction: row;
}
.demo{
  flex-direction: column;
  margin-left: 300px;
  margin-block: 200px;
  max-width: 600px;
}
.demo-intro,
.more-demo{
  font-size: 18pt;
  color:var(--green);
  font-weight: bold;
  letter-spacing: 1pt;
  text-decoration: none;
  text-transform: lowercase;
  text-align: center;
  padding: 1rem;
  padding-top: 4.4rem;
}
.demo-intro{
  font-size: 30pt !important;
  max-width: 100%;
  padding-inline: 400px;
  float: right;
  margin: 0;
}
.more-demo{
  font-weight: 400;
  float: left;
  margin-left: 3rem;
  margin-block: -4.5rem;
}
.carousel{
  flex-direction: column;
  background-color: var(--green);
  padding-inline: 80rem;
  padding-block: 18rem;;
}