:root{
  --green: rgb(130, 150, 75);
  --brown: rgb(101, 83, 59);
  --pink:  rgb(167,83,122,0.4);
  --blue: rgb(89,183,243);
}


body {
  margin: 0;
  font-family: 'Ubuntu';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo{
  width: 45px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  float: left;
}
.intro{
  display: flex;
  flex-direction: row;
  max-width: 100px;
  max-height: fit-content;
  padding: 6rem;
  padding-left: 5rem;
  padding-bottom: 12rem;
}
.intro-words{
  padding-top: 140%;
  padding-left: 140%;
  font-size: larger;
  flex-direction: column;
}
.name{
  font-size: 78px;
  margin: 0;
}
.name-intro{
  font-family: 'WindSong', cursive;
  margin: 0;
  font-size: 28pt;
}
.hello{
  text-transform: lowercase;
  font-size: 35pt;
  margin: 0;
  font-weight: 5%;
  font-family: 'ubuntu';
}
.portrait-container{
  position: relative;
  overflow: hidden;
}
.portrait{
  width: 700px;
  height: 650px;
  object-fit: cover; 
  border-radius: 50%; 
}
.header{
  position: sticky;
  z-index: 1;
  top: 0;
}
.navbar-fix{
  padding-bottom: 3.5rem;
  background-color: transparent;
  transition: ease-in-out;
}
.navbar{ 
  padding-bottom: 3.5rem;
  transition: opacity .2s ease-in-out;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: rgba(0,0,0,.05) 0 3px 15px;
}
.header-links{
  display: flex;
  flex-direction: row;
  float: right;
  /* padding-inline:40px; */
  list-style-type: none;
}
.link-li a{
  padding-inline: 0.5rem;
}
.link-li, a:link, a:visited{
  margin: 10px;
  font-size: 16pt;
  color:grey;
  font-weight: bold;
  letter-spacing: 1pt;
  text-decoration: none;
  text-transform: lowercase;
}
.link-li a:hover{
  color:var(--green);
  transition: .2s ease-in-out;
}

.about-container{
  display: flex;
  flex-direction: row;
  /* padding: 10px; */
  padding-block: 16rem;
  color: rgba(0, 0, 0, 0.934);
  background-color: rgb(167,83,122,0.4);
  font-size: 14pt;
  padding-left: 10%;
}
.abt-head-container{
  max-width: 300px;
  min-width: 300px;
  padding-left: 310px;
  padding-right: 50px;
}
.about-header{
  padding-top: 25px;
  text-align: center;
  font-family:'Bodoni Moda', serif;
}
.about-me{
  text-align: left;
  max-width: 550px;
  min-width: 550px;
  /* margin-top: -2%; */
}
.span{
  font-size: 44pt;
  font-family: 'WindSong', cursive;
  padding-right: 8px;
}
.skills-container{
  padding-block: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-block: 20px;
}

.skills{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-evenly;
  padding-inline: 435px;
  max-width: 740px;
  min-width: 740px;
  max-height: 800px;
  background-image: url("./components/images/paper.webp");
  background-repeat: no-repeat;
  background-size: 47.5%;
  background-position-x: 26.5rem;
  background-position-y: -0.5rem;
  padding-block: 72px;
}
.skills-logo {
  opacity: 0.88;
  display: flex;
  flex-direction: row;
  margin: 38px;
  max-width: 85px;
  min-width: 85px;
  padding-top: 8px;
  max-height: auto;
  min-height: auto;
}
.skills-logo:hover{
  opacity: 1;
  transition: 0.3s;
  transform: scale(1.1);
}
.skills-title{
  text-indent: 47rem;
  margin-top: 3rem;
  font-size: 40pt;
  text-transform: lowercase;
  color: rgba(178, 104, 138, 0.7);
  position: absolute;
}
.skill-name{
  text-align: center;
  padding-top: 0px;
  margin: 0;
}
.demos{
  display: flex;
  flex-direction: row;
}
.demo{
  flex-direction: column;
  margin-left: 230px;
  margin-block: 200px;
  max-width: 600px;
  min-width: 600px;
}
.demo-intro,
.more-demo{
  font-size: 18pt;
  color:var(--green);
  font-weight: bold;
  letter-spacing: 1pt;
  text-decoration: none;
  text-transform: lowercase;
  text-align: center;
  padding: 1rem;
  padding-top: 4.4rem;
}
.demo-intro{
  font-size: 40pt !important;
  max-width: 100%;
  padding-inline: 374px;
  float: right;
  margin: 0;
}
.more-demo{
  font-weight: 400;
  float: left;
  margin-left: 3rem;
  margin-block: -4.5rem;
}
/* something wrong with video its slightly offset */

.carousel{
  /* flex-direction: column; */
  /* display: block; */
  background-color: var(--green);
  padding: 1rem;
  padding-top: 2rem;
}
#inlineFrameExample {
  width: 100%;
  max-width: 900px;
  min-width: 600px;
  margin-left: 1rem;
}
.carousel.carousel-slider{
  max-width: 910px !important;
}
.carousel .control-dots{
  margin-bottom: 2rem !important;
  padding-right: 2rem !important;
}
/* .carousel .thumbs-wrapper{
  text-align: center !important;
  margin: 0 !important;
  padding: 0 !important;
  padding-right: 3rem !important;
} */
/* .legend{
  margin-bottom: -2rem !important;
} */
/* footer */
.contact{
  padding-block: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  background-color: var(--pink);
}
.contact-text{
  text-align: center;
  padding-left: 8rem;
  margin: 0%;
  color:rgb(50, 50, 50);
}
.contact-me{
  font-size: 40pt;
  font-family: 'WindSong', cursive;
  margin: 0%;
}
.email{
  margin:0%;
}
.contact-links{
  flex-direction: row;
  padding-right: 4.5rem;
}
.contact-logo{
  max-width: 3.2rem;
  padding-right: 2.5rem;
}
.contact-logo:hover{
  opacity: 0.8;
  transition: 0.3s;
  transform: scale(1.08);
}
#dev{
  max-width: 3.1rem;
  opacity: 0.8;
}
#dev:hover{
  opacity: 0.6;
}