body {
  margin: 0;
  font-family: 'Ubuntu';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
  /* background-color: rgb(167,83,122,0.4); */
}
.logo{
  width: 50px;
  padding: 15px;
}
.intro{
  display:flex;
  flex-direction: row;
  max-width: 100px;
  max-height: fit-content;
  padding-top: 2%;
  padding-left: 8%;
}
.intro-words{
  padding-top: 140%;
  padding-left: 140%;
  font-size: larger;
  flex-direction: column;
}
.name{
  font-size: 78px;
  margin: 0;
}
.portrait-container{
  position: relative;
  overflow: hidden;
}
.portrait{
  width: 700px;
  height: 650px;
  object-fit: cover; 
  border-radius: 50%; 
}
.header-links{
  display: flex;
  flex-direction: row;
  float: right;
  padding-inline:40px;
  list-style-type: none;
}
.link-li, a:link, a:visited{
  margin: 10px;
  font-size: 16pt;
  color:grey;
  font-weight: bold;
  letter-spacing: 1pt;
  text-decoration: none;
  text-transform: lowercase;
}
a:hover{
  color:lightgrey;
}
.skills{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-evenly;
  padding-inline: 50px;
}
.skills-logo {
  display: flex;
  flex-direction: row;
  margin: 50px;
  max-width: 100px;
  min-width: 100px;
  max-height: auto;
  min-height: auto;
}
.skill-name{
  text-align: center;
}